#EventReviewP {
  color: #333333;
  font-size: 14px;
}

#EventReviewTitle {
  color: #1d1d1d;
  font-size: 24px;
}

#EventReviewHeader {
  color: #1d1d1d;
  font-size: 18px;
}

#EventReviewNames {
  color: #1d1d1d;
  font-size: 16px;
  margin-bottom: 4px;
  margin-top: 4px;
  font-weight: 500;
}

#EventReviewPhoto {
  background-color: gray;
  height: 300px;
  border-radius: 15px;
  min-width: 50%;
  margin-left: 24px;
  margin-right: 24px;
  max-width: 80%;
}

#EventReviewPDesktop {
  color: #333333;
  font-size: 24px;
}

#EventReviewTitleDesktop {
  color: #1d1d1d;
  font-size: 46px;
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
}

#EventReviewHeaderDesktop {
  color: #1d1d1d;
  font-size: 36px;
}

#EventReviewEDDesktop {
  color: #1d1d1d;
  font-size: 36px;
}

#EventReviewNamesDesktop {
  color: #1d1d1d;
  font-size: 20px;
  margin-bottom: 4px;
  margin-top: 4px;
  font-weight: 500;
}

#EventReviewRVSPDesktop {
  margin: 0;
  color: #039be5;
  font-size: 16px;
}

#EventReviewPhotoDesktop {
  background-color: gray;
  height: 550px;
  max-width: 60vw;
  border-radius: 15px;
}

#EventReviewDateAndTimeLocationHeadersDesktop {
  color: #2d2c3c;
  font-size: 22px;
  font-weight: 500;
}

#EventReviewDateTimeLocationDesktop {
  color: #2d2c3c;
  font-size: 20px;
}

#EventReviewAddToCalendarDesktop {
  color: #4539b4;
  font-size: 16px;
}

.ReviewEventPage-desktop-avatar {
  width: 50px;
  height: 50px;
  background-color: #fde4e4;
  color: #f0534f;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  margin-right: 1em;
}

#EventReviewIconsDesktop {
  font-size: 32px;
}
