#homeHeaderStack {
    align-items: center;
    justify-content: space-between;
    padding: 0 5vw 0 5vw;
    background-color: white;
}

#homeLoginButton {
    display: flex;
    justify-content: space-between;
    padding-left: 0.5vw;
    padding-right: 0.5vw;
}

#homeEventsStack {
    padding: 2vw;
}

#homeFiltersStack {
    padding: 2vw;
}

/* Make filters box scrollable */
#homeFiltersBox {
    padding: 2vw;
    padding-bottom: 0.5vw;
    overflow-x: auto;
    white-space: nowrap;
    
}

/* Height of scrollbar */
#homeFiltersBox::-webkit-scrollbar {
    height: 6px; 
}

/* Make scrollbar transparent when not hovered */
#homeFiltersBox::-webkit-scrollbar-thumb {
    background-color: transparent;
}

/* Make scrollbar visible on hover */
#homeFiltersBox:hover::-webkit-scrollbar-thumb {
    padding: 2vw;
    background-color: #ccc;
    border-radius: 4px;
  }

#homeFiltersBox > Button {
    margin-right: 4vw;
    height: 90%;
}

#homeUpcomingHeader {
    padding: 5vw;
    padding-bottom: 0;
    margin: 0;
    font-size: 2.5vh;
    font-weight: bold;
}

.homeUpcomingEventBox {
    margin: 5vw;
    background-color: white;
    border-radius: 15px;
    text-align: center;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: left;
}

.homeUpcomingEventPhoto {
    background-color: gray;
    height: 130px;
    min-width: 100px;
    margin-left: 10px;
    border-radius: 15px;
}

.homeUpcomingEventDetails {
    height: 130px;
    margin-left: 15px;
    text-align: left;
}

.homeUpcomingEventDetails > div {
    margin-bottom: 4px;
}

.homeEventDate {
    font-size: 14px;
}

.homeEventName {
    font-size: 16px;
    font-weight: bold;
}

.homeEventTime {
    font-size: 12px;
}

.homeEventLocation {
    font-size: 12px;
}

.homeEventIcon {
    font-size: 16px;
    margin-right: 2px;
}

#homeDesktopStack {
    padding: 3vw;
}

.homeUpcomingEventBoxDesktop {
    margin: 0;
    background-color: white;
    border-radius: 15px;
    text-align: center;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: left;
}

.homeEventNameDesktop {
    font-size: 1.5vw;
    font-weight: bold;
}

.homeEventDateDesktop {
    display: flex;
    align-items: center;
    font-size: 1.2vw;
}

.homeEventIconsMobile {
    margin-right: 2px;
}
.homeEventIconsDesktop {
    margin-right: 4px;
}

.homeEventTimeDesktop {
    font-size: 1.2vw;
}

.homeEventLocationDesktop {
    font-size: 1.2vw;
}

.homeUpcomingEventDetailsDesktop {
    width: 100%;
    padding: 2vw;
    justify-content: space-between;
}

.homeUpcomingEventDetailsDesktop > div {
    margin-bottom: 0px;
    display: flex;
    align-items: center;
}
