#EventPageP {
    color: #333333;
    font-size: 14px;
}

#EventPageED {
    color: #1D1D1D;
    font-size: 18px;
    margin-bottom: 0px;
}

#EventPageTitle {
    color: #1D1D1D;
    font-size: 24px;
}

#EventPageHeader {
    color: #1D1D1D;
    font-size: 24px;
}

#EventPagePDesktop {
    color: #333333;
    font-size: 24px;
}

#EventPageEDDesktop {
    color: #1D1D1D;
    font-size: 28px;
}

#EventPageTitleDesktop {
    color: #1D1D1D;
    font-size: 28px;
}

#EventPageHeaderDesktop {
    color: #1D1D1D;
    font-size: 28px;
}