#EventPageP {
    color: #333333;
    font-size: 14px;
}

#EventPageED {
    color: #1D1D1D;
    font-size: 18px;
    margin-bottom: 0px;
}

#EventPageTitle {
    color: #1D1D1D;
    font-size: 24px;
}

#EventPageHeader {
    color: #FFFFFF;
    font-size: 24px;
}

#EventPagePDesktop {
    color: #333333;
    font-size: 30px;
}

#EventPageEDDesktop {
    color: #1D1D1D;
    font-size: 40px;
}

#EventPageTitleDesktop {
    color: #1D1D1D;
    font-size: 48px;
    margin-bottom: 0.5rem;
}

#EventPageHeaderDesktop {
    color: #1D1D1D;
    font-size: 40px;
}

#EventPagePhotoBackground {
    background-color: gray;
    height: 300px;
    border-radius: 15px;
}

#EventPagePhotoBackgroundDesktop {
    background-color: gray;
    height: 550px;
    max-width: 60vw;
    border-radius: 15px;
}

#EventPageIconsDesktop {
    font-size: 32px;
}